---
import { SpotlightHome } from "@/components/Home/SpotlightHome";
import YoutubeEmbed from "@/components/YoutubeEmbed.astro";
import { DEFAULT_CLASS_MAIN } from "@/consts";
import ligarobotica from "@/images/ligarobotica.webp";
import muniolmue from "@/images/muniolmue.webp";
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout title="Anr Chile">
  <main class={DEFAULT_CLASS_MAIN}>
    <SpotlightHome client:load />
    <div
      class="grid grid-cols-1 md:grid-cols-3 gap-8 px-8 lg:px-48 mx-auto max-w-7xl items-center"
    >
      <div class="flex justify-center items-center">
        <YoutubeEmbed
          videoId="hE_p_Xkvxaw"
          title="Torneo robótica de la liga robótica"
        />
      </div>
      <div class="flex justify-center items-center">
        <a href="https://www.ligarobotica.cl/" target="_blank">
          <Image src={ligarobotica} alt="Logo Liga Robótica" />
        </a>
      </div>
      <div class="flex justify-center items-center">
        <a href="https://www.muniolmue.cl/" target="_blank">
          <Image
            src={muniolmue}
            alt="Logo Municipalidad de Olmué"
            class="max-w-[40vw] md:max-w-full"
          />
        </a>
      </div>
    </div>
  </main>
</Layout>
