---
import Title from "@/components/Title.astro";
import { DEFAULT_CLASS_MAIN } from "@/consts";
import Layout from "@/layouts/Layout.astro";
import { cn } from "@/lib/utils";
---

<Layout title="Visión | Anr Chile">
  <main class={cn(DEFAULT_CLASS_MAIN, "space-y-2 text-pretty")}>
    <Title>Nuestra visión</Title>
    <p>
      Nos visualizamos como un faro de esperanza y aprendizaje para niños y
      jóvenes, donde la robótica se convierte en una poderosa herramienta para
      el empoderamiento y la transformación personal. En la Academia Nacional de
      Robótica de Olmué, aspiramos a ser reconocidos por el impacto positivo que
      generamos en las vidas de nuestros estudiantes, ofreciéndoles no solo
      conocimientos técnicos en robótica, sino también habilidades esenciales
      como el pensamiento crítico, la colaboración y la resolución de problemas,
      fundamentales para su crecimiento personal y profesional.
    </p>
    <p>
      Nuestra visión es crear un mundo donde todos los niños, sin importar sus
      circunstancias socioeconómicas, tengan acceso a un entorno inclusivo que
      les permita desarrollar su máximo potencial a través del aprendizaje y la
      innovación tecnológica. Queremos que nuestros estudiantes se conviertan en
      líderes y agentes de cambio, capaces de enfrentar con confianza los
      desafíos del futuro y contribuir activamente al progreso de sus
      comunidades.
    </p>
    <p>
      A través de la educación en robótica y tecnología, buscamos preparar a los
      jóvenes para un futuro lleno de oportunidades, inspirándolos a imaginar y
      crear soluciones que transformen el mundo.
    </p>
    <div class="flex justify-between mt-4">
      <a
        href="/mision"
        class="bg-yellow-600 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded"
        >Anterior: Misión</a
      >
      <a
        href="/valores"
        class="bg-yellow-600 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded"
        >Siguiente: Valores</a
      >
    </div>
  </main>
</Layout>
