---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"h2">;

const { class: className, ...props } = Astro.props;
---

<h2 class={cn("text-3xl font-bold text-yellow-400 mb-4", className)} {...props}>
  <slot />
</h2>
